<div>
    <h2 class='space-x-4 outline outline-1 outline-zinc-700 text-zinc-300 font-medium text-5xl text-shadow-outline flex justify-center p-6 max-w-screen-lg mx-auto mt-6 bg-zinc-950 rounded-xl shadow-lg flex items-center'>
        <span class='font-bold text-rose-600'>{{first_name}}'s</span>
        <span> Audio</span>
    </h2>
</div>


<div class="grid justify-center">
  <div class="grid grid-rows-1 grid-cols-2">
    <div class=" h-max p-6">
        <h2 class="p-4 bg-zinc-950 outline outline-1 outline-zinc-600 rounded text-3xl font-semibold mb-6 text-center text-rose-300">My Favorite Artists</h2>
        <div class=" p-1 flex-1 h-full w-full rounded m-auto bg-zinc-700">
            <div id='t' class="text-zinc-300 text-lg font-medium / p-3 outline outline-1 outline-zinc-700 rounded-xl shadow-lg / border border-8 border-zinc-700 rounded-xl bg-zinc-500">
                <ol>
                  {{#each artists}}
                  <a href="{{this.external_urls.spotify}}" target="_blank">
                    <li class="m-2 items-center flex flex-none space-x-4 text-zinc-300 hover:text-rose-300 text-lg font-medium p-3 outline outline-1 outline-zinc-300 rounded-xl shadow-lg border border-8 border-zinc-700 rounded-md bg-zinc-950">
                      <img class="w-20 h-20" src="{{this.images.[1].url}}">
                      <div class="flex-1">- {{this.name}}</div>
                    </li>
                  </a>
                  {{/each}}
                </ol>
            </div>
        </div>
    </div>
    <div class="p-6 h-max grid grid justify-center">
          <h2 class="p-4 bg-zinc-950 outline outline-1 outline-zinc-600 rounded text-3xl font-semibold mb-6 text-center text-rose-300">My Recent Playlists</h2>
      <div class="border border-8 border-zinc-700 rounded-md content-center bg-zinc-500 rounded rounded-2xl grid grid-cols-3 gap-8 p-2">
      {{#each playlists}}
          <div class=" col-span-3 lg:col-span-3 xl:col-span-1 " target="_blank">
            <div class="p-1 w-full rounded rounded-xl "> 
              <a href={{this.external_urls.spotify}} class="">
                <ol id='trending' class="flex flex-col items-center justify-center w-full space-x-2 text-zinc-300 text-lg font-medium / p-1 outline outline-1 outline-zinc-300 rounded-xl shadow-lg / border border-8 border-zinc-700 rounded-xl bg-zinc-950">
                  <img class="w-42 h-42" src={{this.images.[0].url}}>
                  <div class="flex-1">------</div>
                  <h3 class="text-zinc-100 font-medium">{{this.name}}</h3>
                </ol>
              </a>
            </div>
          </div>
      {{/each}}
      </div>
      <div class="flex justify-center items-center mt-5">
        <button class="content-end grid row-span-3 col-span-1 bg-rose-500 hover:bg-rose-200 text-white font-bold py-2 px-4 rounded " type="submit">Edit Playlists</button>
      </div>
    </div>
</div>
    <div class="p-6">
      <div class="border border-8 border-zinc-700 rounded-md content-center bg-zinc-500 rounded rounded-2xl justify-center grid grid-cols-3 gap-8 p-2">
      {{#each newRelease}}
          <div class=" col-span-3 sm:col-span-3 md:col-span-1 ">
            <div class="p-1 w-full rounded rounded-xl "> 
              <a href={{this.external_urls.spotify}} class="flex justify-center" target="_blank">
                <ol id='trending' class="flex flex-none items-center justify-center w-full space-x-2 text-zinc-300 text-lg font-medium / p-1 outline outline-1 outline-zinc-300 rounded-xl shadow-lg / border border-8 border-zinc-700 rounded-xl bg-zinc-950">
                  <img class="w-32 h-32" src={{this.images.[0].url}}>
                  <h3 class="flex-1 text-zinc-100 font-medium"> - {{this.name}}</h3>
                </ol>
              </a>
            </div>
          </div>
      {{/each}}
      </div>
    </div>


{{!-- <div class="grid justify-center">
  <div class="grid grid-rows-1 grid-cols-2">
    <div class=" h-max p-6">
      <h2 class="p-4 bg-zinc-950 outline outline-1 outline-zinc-600 rounded text-3xl font-semibold mb-6 text-center text-rose-300">My Favorite Artists</h2>
      <ol id='topTen' class="text-zinc-300 text-lg font-medium / p-3 outline outline-1 outline-zinc-700 rounded-xl shadow-lg / border border-8 border-zinc-700 rounded-md bg-zinc-950">
        {{#each artists}}
          <a href="{{this.external_urls.spotify}}" target="_blank">
          <li class="m-2 items-center flex flex-none space-x-4 text-zinc-300 hover:text-rose-300 text-lg font-medium p-3 outline outline-1 outline-zinc-300 rounded-xl shadow-lg border border-8 border-zinc-700 rounded-md bg-zinc-950">
          <img class="w-20 h-20" src="{{this.images.[1].url}}">
          <div class="flex-1">{{this.name}}</div>
          </li>
          </a>
        {{/each}}
      </ol> --}}